.custom-button {
    -fx-background-color: #4CAF50; /* Green */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10 30;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #388E3C;
    -fx-border-width: 2;
    -fx-cursor: hand;
}

.custom-button:hover {
    -fx-background-color: #45A049;
}

.custom-button:pressed {
    -fx-background-color: #388E3C;
}