.chart {
    -fx-background-color: #000000;
    -fx-padding: 5px;
}

.chart-plot-background {
    -fx-background-color: #000000;
}

.chart-legend {
    -fx-background-color: transparent;
}

.chart-legend-item-text {
    -fx-text-fill: #FF0000;
}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.axis {
    -fx-tick-label-fill: #B2B2B2;
}

.axis-label {
    -fx-text-fill: #FFDD00;
}

